.header_button_area{
    margin-bottom: 7px;
}
.employee_detail_page_button{
    background-color: transparent;
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    width: 144px;
    height: 38px;
    color: #2563EB;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.employee_detail_same_button{
    background-color: #60A5FA;
    border-radius: 5px;
    width: 144px;
    height: 38px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.employee_detail_same_button_2{
    margin-top: 28px;
    background-color: #60A5FA;
    border-radius: 5px;
    width: 144px;
    height: 38px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.employe_detail_page_icon{
    width: 14px;
    height: 13px;
    color: white;
    margin-left: 13px;
}
.employe_detail_content .small{
    margin-top: 27px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.32px;
    color: #9CA3AF;
}
.employe_detail_content .user_information{
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    color: #374151;
    padding-bottom: 7px;
}
.employe_detail_content .user_information::after{
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    width: 151px;
    background-color: #9CA3AF
}
