.page_margin_top{
    margin-top: 56px;
}
.page_title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 0px;
}
.employee_list_page_button{
    margin-top: 24px;
    background-color: transparent;
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    width: 144px;
    height: 38px;
    color: #2563EB;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.plus_icon{
    width: 12px;
    height: 12px;
    color: #2563EB;
    margin-right: 13px;
}
th{
    text-align: left !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.32px;
    color: #9CA3AF
}
.th_padding{
    padding-bottom: 9px;
}
.td_padding{
    padding-top: 18px;
}
.table_content{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #374151;
}
.employee_list_btn{
    border-radius: 3px;
    padding: 10px;
    background-color: #60A5FA;
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
.employee_list_btn_delete{
    border-radius: 3px;
    padding: 10px;
    background-color: #9CA3AF;
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
.employee_list_table_icon{
    width: 14px;
    height: 13px;
    color: white;
    margin-left: 13.56px;
}
