.page_margin_top{
    padding-top: 56px;
    height: 100%;
}
.page_title{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 0px;
}
.employee_list_page_button{
    margin-top: 24px;
    background-color: transparent;
    border: 1px solid #9CA3AF;
    border-radius: 5px;
    width: 144px;
    height: 38px;
    color: #2563EB;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.plus_icon{
    width: 12px;
    height: 12px;
    color: #2563EB;
    margin-right: 13px;
}
.table_title{
    position: relative;
    text-align: left !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.32px;
    color: #9CA3AF;
    padding-bottom: 9px;
}
.table_title::after{
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    height: 2px;
    width: 200px;
    background-color: #9CA3AF;
}
.table_last_item{
    position: relative;
    text-align: left !important;
    font-weight: 600;
    font-size: 12px;
    line-height: 14.32px;
    color: #9CA3AF;
    padding-bottom: 9px;
}
.table_last_item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    height: 2px;
    width: 250px;
    background-color: #9CA3AF;
}
.td_padding{
    padding-top: 18px;
}
.table_content{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #374151;
}
.employee_list_btn{
    border-radius: 3px;
    padding: 10px;
    background-color: #60A5FA;
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
.employee_list_btn_delete{
    border-radius: 3px;
    padding: 10px;
    background-color: #9CA3AF;
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}
.employee_list_table_icon{
    width: 14px;
    height: 13px;
    color: white;
    margin-left: 13.56px;
}
.set_modal_width{
    width: 295px !important;
    padding-top: 58px !important;
    padding-bottom: 59px !important;
}
.pop_up_title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.64px;
    color: #4B5563;
}
.modal_button_1{
    width: 207px;
    height: 36px;
    border-radius: 3px;
    background-color: #60A5FA;
    color: #E5E7EB;
}
.modal_button_2{
    width: 207px;
    height: 36px;
    border-radius: 3px;
    background-color: #D9D9D9;
    color: #6D7280;
    margin-top: 22px;
}